<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>blog</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>NoCheck</param-name>
    <param-value>/index,/Blogger.jsp,/css/back.css,/css/Blogger.css,/dir.css,/images/back.jpg,/js/back.html,/js/jquery-3.3.1.js,/loginServlet,/closeUserName,/show,/login.jsp,/findPassword.jsp,/findPassword,/changePassword.jsp,/changePassword,/searchServlet,/registerUserNameCheck,/insertServlet</param-value>
  </context-param>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.java.mysystem.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>userSessionKey</param-name>
    <param-value>USERSESSIONKEY</param-value>
  </context-param>
  <context-param>
    <param-name>passwordSessionKey</param-name>
    <param-value>PASSWORDSESSIONKEY</param-value>
  </context-param>
  <context-param>
    <param-name>CheckedUrl</param-name>
    <param-value>/diary.jsp,/abc.jsp</param-value>
  </context-param>
  <filter>
    <filter-name>Charset</filter-name>
    <filter-class> com.java.mysystem.filter.ReverseString</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Charset</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.myblog.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CloseUserName</servlet-name>
    <servlet-class>com.myblog.servlet.CloseUserName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseUserName</servlet-name>
    <url-pattern>/closeUserName</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>com.myblog.servlet.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/insertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterUserNameCheck</servlet-name>
    <servlet-class>com.myblog.servlet.RegisterUserNameCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUserNameCheck</servlet-name>
    <url-pattern>/registerUserNameCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Writer</servlet-name>
    <servlet-class>com.myblog.servlet.Writer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Writer</servlet-name>
    <url-pattern>/writer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TitleServlet</servlet-name>
    <servlet-class>com.myblog.servlet.TitleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TitleServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Show</servlet-name>
    <servlet-class>com.myblog.servlet.ShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Show</servlet-name>
    <url-pattern>/show</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Comment</servlet-name>
    <servlet-class>com.myblog.servlet.Comment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Comment</servlet-name>
    <url-pattern>/comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindPassword</servlet-name>
    <servlet-class>com.myblog.servlet.FindPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindPassword</servlet-name>
    <url-pattern>/findPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.myblog.servlet.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/changePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class> com.myblog.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/searchServlet</url-pattern>
  </servlet-mapping>
</web-app>